body {
    background-color: black;
}
#header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#header .case {
    text-align: center;
    color: #9370DB;
    background-color: none;
    padding: 1em;
    border: 1px solid white;
    border-radius: 10px;
    width: 25%;
    min-width: 250px;
    height: auto;
    margin: 2%;
    
   /* display: flex, i;*/
   /* border: solid black 1px;
    padding: 5px;
    border-radius: 10px;*/
}

#header a {
    text-decoration: none;
}

#popup {
    color: white;
    font-size: larger;
}
/*je vous pas ton msg
tant pis
ok
section = bien évite les conflits, plus précis
??
pour la suite
ok ok 
tu veux que j'attaque le <!--menu ou j'essaie l'animation blender ?
comme tu veux tu choisis ! moi je fais la div case

ok bah je prefere faire le menu quand on sera ensemble, ducoup je fais l'animation
et regarde le hangouts stp
ok pas de soucis je regarde !







*/
