body {
    background-color: black;
}
#header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#header .case {
    text-align: center;
    color: #9370DB;
    background-color: none;
    padding: 0;
    border: 1px solid white;
    border-radius: 10px;
    width: 25%;
    min-width: 250px;
    height: auto;
    margin: 2%;
    
   /* display: flex, i;*/
   /* border: solid black 1px;
    padding: 5px;
    border-radius: 10px;*/
}

#header .case h1 {
    margin: 0;
}

#header a {
    text-decoration: none;
}

#popup {
    color: white;
    font-size: larger;
}